<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.efsioscurso">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EfésiosCurso">
        <activity
            android:name=".Linguagem"
            android:label="Linguagens, Códigos e Suas Tecnologias"
            android:exported="true" />
        <activity
            android:name=".Redacao"
            android:label="Redação"
            android:exported="true" />
        <activity
            android:name=".Matematica"
            android:label="Matemática"
            android:exported="true" />
        <activity
            android:name=".CienciasHumanas"
            android:exported="true"
            android:label="Ciências Humanas" />
        <activity
            android:name=".CienciasdaNatureza"
            android:exported="true"
            android:label="Ciências da Natureza" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Curso preparatório Efésios">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>